<div class="row mt-4">
  <div class="col-lg-7 col-md-7 col-12">
    <app-users-dashboard-overview-groups [user]="user"></app-users-dashboard-overview-groups>
    <app-users-dashboard-overview-departments [user]="user"></app-users-dashboard-overview-departments>
  </div>
  <div class="col-lg-5 col-md-5 col-12">
    <app-users-dashboard-overview-general [user]="user"></app-users-dashboard-overview-general>
  </div>
  <router-modal></router-modal>
</div>
