<li class="nav-item" dropdown>
  <a
    href="javascript:void(0)"
    role="button"
    aria-haspopup="true"
    aria-expanded="false"
    dropdownToggle
    class="nav-link"
    (click)="openModalWithComponent()"    
  >
    <span class="icon-magnifier" title="{{ 'Spotlight.title' | translate }}"></span>
  </a>
</li>


