<div>
  <div class="row">
    <div class="col-12" [ngVar]="{}" #filter="ngVar">
      <app-advanced-table-search
        #advancedSearch
        [(filter)]="filter.value"
        [collapsed]="true"
        [table]="table"
      >
        <advanced-search>
          <app-advanced-search-form
            (filterChange)="advancedSearch.asyncAdvancedSearch()"
            #search
            [(filter)]="filter.value"
          ></app-advanced-search-form>
        </advanced-search>
      </app-advanced-table-search>
    </div>
  </div>
  <ng-container *ngIf="inProgressAction && inProgressAction.dateCreated">
    <div class ="row">
      <div class="col-auto mt-3">
        <span class="text-secondary font-lg">{{'Departments.AutoRegisterClassesAction.CancelAction.Description' | translate: {dateCreated: (inProgressAction.dateCreated | date: 'short')} }}
          <a class="text-primary" href="javascript:void(0)" (click)="cancelAutoRegisterClassesAction()">{{ 'Departments.AutoRegisterClassesAction.CancelAction.Anchor' | translate }}</a></span>
      </div>
    </div>
  </ng-container>
  <div class="row">
    <div class="col-auto mt-3">

      <div class="font-xl text-secondary mt-1" *ngIf="recordsTotal > 1">
        <span>{{ recordsTotal }}</span
        ><span>&nbsp;</span
        ><span
          [translate]="'Departments.AutoRegisterClassesAction.Results'"
        ></span>
      </div>
      <div class="font-xl text-secondary mt-1" *ngIf="recordsTotal === 1">
        <span>{{ recordsTotal }}</span
        ><span>&nbsp;</span
        ><span
          [translate]="'Departments.AutoRegisterClassesAction.Result'"
        ></span>
      </div>
    </div>
    <div class="pull-right ml-auto mt-3">
      <div class="btn-group mr-3" role="group">
        <button type="button" class="btn btn-indigo" (click)="refreshResultsList$.next()">
          <span [translate]="'Departments.AutoRegisterClassesAction.RefreshList'"></span>
        </button>
      </div>
    </div>
    <div class="col-12 mb-4">
      <app-advanced-table
        #table
        [autoLoad]="true"
        (load)="onDataLoad($event)"
      ></app-advanced-table>
    </div>
  </div>
  <router-modal></router-modal>
</div>
