.s--btn-group-toggle {

    .btn-group-toggle>.btn,
    .btn-group-toggle>.btn-group>.btn {
        border-radius: 20px;
        color: #869FAC;
    }

    .btn-group-toggle {
        background-color: #fcfdfe !important;
        box-shadow: 0 0 17px 0 rgba(177, 177, 177, 0.5);
        border-radius: 18px;
    }

    .btn-toggle:not(:disabled):not(.disabled).active {
        background-color: #664BF1;
        border-color: #869FAC;
        color: #fff;
        font-weight: 600;
    }

    .btn-toggle {
        background-color: #fff;
        border-color: #fff;
        padding-left: 25px;
        padding-right: 25px;
    }

    .btn-group>.btn:first-child {
        margin-right: -10px;
    }

    .btn-group>.btn.active {
        z-index: 2;
    }

    .btn span {
        outline: none;
    }
}