<!-- Modal -->
<div
  class="modal fade"
  id="instructorUsernameFormat"
  tabindex="-1"
  role="dialog"
  aria-labelledby="instructorUsernameFormat"
  aria-hidden="true"
  >
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="instructorUsernameFormatLabel">Διαθέσιμα στοιχεία μορφοποίησης ονομάτων χρηστών διδασκόντων</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          >
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="sis--list-group sis--list-group-header">
          <li class="sis--list-group-item">
            <div class="d-flex justify-content-center align-items-center">
              <div class="sis--list-group-item_sm_column">Αναγνωριστικό</div>
              <div class="sis--list-group-item_sm_column d-none d-sm-block">Περιγραφή</div>
              <div class="sis--list-group-item_lg_column d-none d-xl-block">Δέχεται αριθμό</div>
              <div class="sis--list-group-item_sm_column d-none d-sm-block">Δέχεται κείμενο</div>
              <div class="sis--list-group-item_sm_column">Παράδειγμα</div>
            </div>
          </li>
        </ul>
        <ul class="sis--list-group sis--list-group-body">
          <li class="sis--list-group-item">
            <div class="d-flex justify-content-center align-items-center list-color">
              <div class="sis--list-group-item_sm_column font-weight-bold">G</div>
              <div class="sis--list-group-item_sm_column d-none d-sm-block font-weight-bold">Λατινικό όνομα</div>
              <div class="sis--list-group-item_lg_column d-none d-xl-block">Ναι, προαιρετικά. Ορίζει το πλήθος των χαρακτήρων του ονόματος που θα χρησιμοποιηθούν, αλλιώς χρησιμοποιείται ολόκληρο το όνομα.</div>
              <div class="sis--list-group-item_sm_column d-none d-sm-block">
                Όχι
              </div>
              <div class="sis--list-group-item_sm_column">G4</div>
            </div>
          </li>
          <li class="sis--list-group-item">
            <div class="d-flex justify-content-center align-items-center list-color">
              <div class="sis--list-group-item_sm_column font-weight-bold">F</div>
              <div class="sis--list-group-item_sm_column d-none d-sm-block font-weight-bold">Λατινικό επίθετο</div>
              <div class="sis--list-group-item_lg_column d-none d-xl-block">Ναι, προαιρετικά. Ορίζει το πλήθος των χαρακτήρων του επιθέτου που θα χρησιμοποιηθούν, αλλιώς χρησιμοποιείται ολόκληρο το επίθετο.</div>
              <div class="sis--list-group-item_sm_column d-none d-sm-block">
                Όχι
              </div>
              <div class="sis--list-group-item_sm_column">F4</div>
            </div>
          </li>
          <li class="sis--list-group-item">
            <div class="d-flex justify-content-center align-items-center list-color">
              <div class="sis--list-group-item_sm_column font-weight-bold">U</div>
              <div class="sis--list-group-item_sm_column d-none d-sm-block font-weight-bold">GUID</div>
              <div class="sis--list-group-item_lg_column d-none d-xl-block">Όχι</div>
              <div class="sis--list-group-item_sm_column d-none d-sm-block">
                Όχι
              </div>
              <div class="sis--list-group-item_sm_column">U</div>
            </div>
          </li>
          <li class="sis--list-group-item">
            <div class="d-flex justify-content-center align-items-center list-color">
              <div class="sis--list-group-item_sm_column font-weight-bold">T</div>
              <div class="sis--list-group-item_sm_column d-none d-sm-block font-weight-bold">Ελεύθερο κείμενο</div>
              <div class="sis--list-group-item_lg_column d-none d-xl-block">Ναι</div>
              <div class="sis--list-group-item_sm_column d-none d-sm-block">
                Ναι
              </div>
              <div class="sis--list-group-item_sm_column">TcustomText</div>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
        Κλείσιμο
        </button>
      </div>
    </div>
  </div>
</div>